.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__item {
  display: flex;
}

.nav__item--leftmargin {
  margin-left: 93px;
}

.nav__item--rightmargin {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  @extend %list;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $alt-text-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--active:hover,
.nav__link--active:focus {
  color: $accent-text-color;
}

.nav__link--underline::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: $accent-text-color;
  bottom: -1px;
}
